# Data Science Tools and Ecosystem

#### I am creating a Jupiter Notebook that contains markdown cells. This notebook is about the Data Science Tools and Ecosystem.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Php

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn

| Data Science Tools |
|:--------:|
|  Anaconda   |
|  Jupyter Notebook   |
|  R Studio   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200 // 60

3

**Objectives:**
* List popular languages for Data Science
* List of popular tools used for Data Science
* List of popular libraries used for Data Science
* Arithmetic Operations